<!DOCTYPE html>
<html lang="en-us">

<head id="header_why">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ================= Discord web embed & description/title & twitter ================== -->

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="ServerSMP - CodeBin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>/codebin/" />
    <meta property="og:description" content="Bin some code/text." />
    <meta property="og:image" content="<%= url %>/assets/image/icon.png" />
    <meta name="theme-color" content="#030303">
    <title>ServerSMP - CodeBin</title>

    <!-- ================= Favicon ================== -->

    <!-- Standard -->
    <link rel="shortcut icon" href="<%= url %>/assets/image/icon.png">

    <!-- Retina iPad Touch Icon -->
    <link rel="apple-touch-icon" sizes="144x144" href="<%= url %>/assets/image/icon.png">

    <!-- Retina iPhone Touch Icon -->
    <link rel="apple-touch-icon" sizes="114x114" href="<%= url %>/assets/image/icon.png">

    <!-- Standard iPad Touch Icon -->
    <link rel="apple-touch-icon" sizes="72x72" href="<%= url %>/assets/image/icon.png">

    <!-- Standard iPhone Touch Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= url %>/assets/image/icon.png">

    <!-- ================= Styles & bootstrap ================== -->

    <link href="https://serversmp.xyz/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://serversmp.xyz/assets/js/bootstrap.bundle.min.js"></script>
    <link href="https://serversmp.xyz/assets/css/style.css" rel="stylesheet">

    <style>
        /* latin-ext */
        @font-face {
            font-family: 'Concert One';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url("https://serversmp.xyz/assets/font/VEM1Ro9xs5PjtzCu-srDqSTsjP6yuQ.woff2") format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Concert One';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url("https://serversmp.xyz/assets/font/VEM1Ro9xs5PjtzCu-srDqSTijP4.woff2") format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        textarea {
            width: 100%;
            height: 500px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #0C0B1A;
            resize: none;
            text-align: left;
        }

        input[type=submit] {
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

</head>

<!-- ================= Some stuff ================== -->

<div id="nav-bar"></div>

<h6 style="background-color:#f8d7da;color:#721c24;"><span style="font-weight:bold;color:#721c24;">WARNING:</span> This
    Codebin has a 15 minute rate limiter for every 25 codebin's made per ip.</h6>

<div id="code_version">

    <body style="padding-bottom:30px">
        <div class="container-sm">

            <!-- ================= Name & logo ================== -->

            <h1>ServerSMP - CodeBin</h1>
            <img src="<%= url %>/assets/image/icon.png" alt="ServerSMP - API" width="180" height="180"></img>

            <!-- ================= APIs ================== -->

            <div class="container-sm style-is-cool">
                <div class="row" id="data_html_codebin">
                    <div>
                        <div class='card text-white bg-dark mb-3' class='card text-white bg-dark mb-3'>
                            <div class='card-body'>
                                <h5 class='card-title'>CodeBin - <code><%= id %></code></h5><textarea name='text'
                                    class='input_type' readonly><%= text %></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </body>
</div>

<!-- ================= error ================== -->

<div class="modal fade" id="error" tabindex="-1" aria-labelledby="errorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0C0B1A;">
                <h5 class="modal-title" id="errorLabel">An error has occurred.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<!-- ================= Default text ================== -->

<div class="modal fade" id="dtext" tabindex="-1" aria-labelledby="dtextLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0C0B1A;">
                <h5 class="modal-title" id="dtextLabel">Codebin can't be default text.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<!-- ================= Length ================== -->

<div class="modal fade" id="Length" tabindex="-1" aria-labelledby="LengthLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0C0B1A;">
                <h5 class="modal-title" id="LengthLabel">Codebin length can't be more then 10000.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('https://serversmp.xyz/assets/json/navbar.json')
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        appendData(data);
      })
      .catch(function (err) {
        console.log('error: ' + err);
      });

    function appendData(data) {
      document.getElementById("nav-bar").innerHTML = data.navbar;
    }

    if (<%= error %> === true) {
        var error = new bootstrap.Modal(document.getElementById('error'), {
            keyboard: false
        });
        error.show();
    }

    var errorEvent = document.getElementById('error')
    errorEvent.addEventListener('hidden.bs.modal', function (event) {
        location.href = '<%= url %>/codebin';
    });

    if (<%= dtext %> === true) {
        var dtext = new bootstrap.Modal(document.getElementById('dtext'), {
            keyboard: false
        });
        dtext.show();
    }

    var dtextEvent = document.getElementById('dtext')
    dtextEvent.addEventListener('hidden.bs.modal', function (event) {
        location.href = '<%= url %>/codebin';
    });

    if (<%= length %> === true) {
        var length = new bootstrap.Modal(document.getElementById('Length'), {
            keyboard: false
        });
        length.show();
    }

    var lengthEvent = document.getElementById('Length')
    lengthEvent.addEventListener('hidden.bs.modal', function (event) {
        location.href = '<%= url %>/codebin';
    });

    if ("<%= option %>" !== "id") {
        document.getElementById("data_html_codebin").innerHTML = "<div><div class='card text-white bg-dark mb-3'class='card text-white bg-dark mb-3'><div class='card-body'><h5 class='card-title'>CodeBin</h5><p class='card-text'>What you want to bin.</p><form method='post' action='/codebin/create'><textarea name='text' class='input_type' placeholder='Enter text to bin...' spellcheck='false' required></textarea><input type='submit' value='Submit' class='btn'></form></div></div>"
    }

</script>

</html>