<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="ServerSMP - CodeBin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>/codebin/" />
    <meta property="og:description" content="Bin some code/text." />
    <meta property="og:image" content="<%= url %>/assets/image/page/icon.png" />
    <meta name="theme-color" content="#030303">
    <title>ServerSMP - CodeBin</title>

    <link href="https://serversmp.xyz/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://serversmp.xyz/assets/js/bootstrap.bundle.min.js"></script>
    <link href="<%= url %>/assets/css/codebin/style.shorten.css" rel="stylesheet">
    <script src="<%= url %>/assets/js/framework/highlight.min.js"></script>
    <link href="<%= url %>/assets/css/framework/atom-one-dark.min.css" rel="stylesheet">
    <script>
        hljs.highlightAll();
    </script>

</head>

<body style="padding-bottom:30px">

  <div id="nav-bar"></div>

  <h6 style="background-color:#f8d7da;color:#721c24;">
      <span style="font-weight:bold;color:#721c24;">WARNING:</span>
      This Codebin has a 10 seconds rate limiter for every 20 codebin's made per ip.
  </h6>

  <h1>ServerSMP - CodeBin</h1>

  <div class="container-sm">
    <div class="card text-white bg-dark mb-3">
      <div class="row">
        <div class="card-body">
          <h5 class="card-title">CodeBin - 
            <code><%- id %></code>
          </h5>
          <pre><code><%- text %></code></pre>
        </div>
      </div>
    </div>
  </div>

</body>

<script>
  fetch('https://serversmp.xyz/assets/json/navbar.json')
    .then(res => res.json())
    .then(res => document.getElementById("nav-bar").innerHTML = res.navbar);
</script>

</html>