<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ================= Discord web embed & description/title & twitter ================== -->

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="ServerSMP - CodeBin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>/codebin/" />
    <meta property="og:description" content="Bin some code/text." />
    <meta property="og:image" content="<%= url %>/assets/image/icon.png" />
    <meta name="theme-color" content="#030303">
    <title>ServerSMP - CodeBin</title>

    <!-- ================= Favicon ================== -->

    <!-- Standard -->
    <link rel="shortcut icon" href="<%= url %>/assets/image/icon.png">

    <!-- Retina iPad Touch Icon -->
    <link rel="apple-touch-icon" sizes="144x144" href="<%= url %>/assets/image/icon.png">

    <!-- Retina iPhone Touch Icon -->
    <link rel="apple-touch-icon" sizes="114x114" href="<%= url %>/assets/image/icon.png">

    <!-- Standard iPad Touch Icon -->
    <link rel="apple-touch-icon" sizes="72x72" href="<%= url %>/assets/image/icon.png">

    <!-- Standard iPhone Touch Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= url %>/assets/image/icon.png">

    <!-- ================= Styles & bootstrap ================== -->

    <link href="https://serversmp.xyz/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://serversmp.xyz/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://serversmp.xyz/assets/js/highlight.min.js"></script>
    <link href="https://serversmp.xyz/assets/css/solarized-dark.min.css" rel="stylesheet">
    <link href="https://serversmp.xyz/assets/css/code.css" rel="stylesheet">
    <script>
        hljs.highlightAll();
    </script>

</head>

<!-- ================= Some stuff ================== -->

<body>

    <!-- ================= codebin ================== -->

    <div class="wrapper">
        <div class="line-numbers">
            <% for (let i = 1; i <= text.split('\n').length; i++) { %>
            <div><%= i %></div>
            <% } %>
        </div>
        <pre><code id="code-display"><%= text %></code></pre>
    </div>

    <!-- ================= error ================== -->

    <div class="modal fade" id="error" tabindex="-1" aria-labelledby="errorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #0C0B1A;">
                    <h5 class="modal-title" id="errorLabel">An error has occurred.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        if ( < %= error % > === true) {
            var error = new bootstrap.Modal(document.getElementById('error'), {
                keyboard: false
            });
            error.show();
        }

        var errorEvent = document.getElementById('error')
        errorEvent.addEventListener('hidden.bs.modal', function (event) {
            location.href = '<%= url %>/codebin';
        });
    </script>

</body>

</html>