<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%- url %>/assets/site/codebin+/css/codebin+.render.css">
    <link rel="stylesheet" href="<%- url %>/assets/library/highlight/highlight.min.css">
    <script defer src="<%- url %>/assets/library/showdown/showdown.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/toc.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/catalog.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/audio.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/video.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/youtube.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/anchor.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/xss.min.js"></script>
    <script defer src="<%- url %>/assets/library/showdown/extensions/twitter.min.js"></script>
    <script defer src="<%- url %>/assets/library/tex/tex.min.js"></script>
    <script defer src="<%- url %>/assets/library/highlight/highlight.min.js"></script>
    <script defer src="<%- url %>/assets/library/xss/xss.min.js"></script>
    <script defer src="<%- url %>/assets/site/codebin+/js/codebin+.highlight.js"></script>
    <script defer src="<%- url %>/assets/site/codebin+/js/codebin+.render.js"></script>
    <title>Codebin+ - <%- id %></title>
</head>
<body>

    <div class="container">
        <div class="subContainer" id="subContainer"></div>
    </div>

    <textarea class="hidden" id="content"><%- content %></textarea>

</body>
</html>