<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%- url %>/assets/css/codebinplus/render.css">
    <link rel="stylesheet" href="<%- url %>/assets/css/framework/atom-one-dark.min.css">
    <script defer src="<%- url %>/assets/js/framework/showdown/showdown.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/showdown-toc.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/catalog-extension.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/audio-extension.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/video-extension.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/youtube.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/anchor-extension.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/showdown-xss-config.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/showdown/showdown-twitter.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/tex-mml-chtml.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/highlight.min.js"></script>
    <script defer src="<%- url %>/assets/js/framework/xss.min.js"></script>
    <script defer src="<%- url %>/assets/js/codebinplus/highlight.js"></script>
    <script defer src="<%- url %>/assets/js/codebinplus/render.js"></script>
    <title>Codebin+ - <%- id %></title>
</head>
<body>

    <div class="container">
        <div class="subContainer" id="subContainer"></div>
    </div>

    <textarea class="hidden" id="content"><%- content %></textarea>

</body>
</html>