<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%- url %>/assets/site/codebin+/css/codebin+.view.css">
    <script defer src="<%- url %>/assets/library/highlight/highlight.min.js"></script>
    <script defer src="<%- url %>/assets/site/codebin+/js/codebin+.view.js"></script>
    <link href="<%- url %>/assets/library/highlight/highlight.min.css" rel="stylesheet">
    <title>Codebin+ - <%- id %></title>
</head>
<body>

    <div class="container">
        <pre><code <% if (type !== "auto") { %> class="language-<%- type %>" <% } %>><%= content %></code></pre>
    </div>

</body>
</html>